body.grey #upperblaze {width: 128px; height: 275px; background-image: url(asuka.png); background-repeat: no-repeat; background-color: #9cf; padding: 0px 0px 0px 0px; color: #fff;}
body.grey #lowerblaze {width: 128px; height: 327px; background-image: url(rei.png); background-repeat: no-repeat; background-color: #9cf; padding: 0px 0px 0px 0px; color: #fff;}
body.grey #content {margin: 0px 20px 20px 160px;}
#inset {float:right;margin: 5px;padding: 2px;}
.insetr {float:right;margin: 5px;padding: 2px;}
.insetl {float:left;margin: 5px;padding: 2px;}
span.hint {border-bottom:1px dashed #999;cursor:help}
span.hint:hover {color: #444; background-color: transparent;}
.lang {font-style:italic;}
body.grey div.asuka#lowerblaze  {width: 128px; height: 275px; background-image: url(asuka.png); background-repeat: no-repeat; }
body.grey div.hikaru#upperblaze  {width: 128px; height: 333px; background-image: url(hikaru.png); background-repeat: no-repeat; }
body.grey div.nanoha#upperblaze  {width: 127px; height: 393px; background-image: url(nanoha.png); background-repeat: no-repeat; }
body.grey div.vita#lowerblaze  {width: 128px; height: 197px; background-image: url(vita.jpg); background-repeat: no-repeat; }
.vel {font-family: "Old English Text MT", monospace}
.mch {font-family: XpressiveBlack, cursive}